.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  width: 478px;
  height: 22px;
  margin: 0px 411px 0px 391px;
}

.header__buttons {
  width: 216px;
  height: 32px;
  margin: 0px 0px 0px 0px;
}
