
/* Ссылки при наведении */
a:hover {
  text-decoration: underline;
}

/* Активные ссылки */
a:active { 
  text-decoration: none; /* Скрываем подчёркивание */
  color: $links-color;
}


a .socials__icon:hover {
  fill: $links-color;
}

.reviews__btn:hover {
  color: $links-color;
  fill: $links-color;
}
