script(type="text/x-template")#slider-container
  .reviews
    .reviews__header
      .section-title Что обо мне говорят
      .reviews__buttons
        button(type="button" @click="slide('prev')" :class="{inactive__btn : left_inactive}").reviews__btn.round-btn.reviews__btn_prev
        button(type="button" @click="slide('next')" :class="{inactive__btn : right_inactive}").reviews__btn.round-btn.reviews__btn_next
    swiper(ref="slider" :options="sliderOptions" @slideChangeTransitionEnd="slide_swiped()")
      swiper-slide(v-for="review in reviews", :key="review.id")
        .quote
          .quote__text
            p {{review.text}}
          .quote__user
            .user-min
              .user-min__avatar
                .user-min__pic-wrapper
                  img(:src="review.photo").user-min__avatar-pic
              .user-min__info
                      .user-min__name {{review.name}}
                      .user-min__occ {{review.occ}}